.film-week {
  padding: 60px 0;
}

.film-week__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  position: relative;
}

.film-week__poster {
  width: 100%;
  margin-bottom: 25px;
  border-radius: 10px;
}

.film-week__title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin-right: 36px;
}

.film-week__tagline {
  font-size: 18px;
  line-height: 1.4;
  opacity: 0.6;
  margin-right: auto;
  padding-top: 10px;
}

.film-week__watch-btn {
  width: 375px;
  height: 72px;
  font-size: 18px;
  line-height: 1.4;
  background-color: var(--color-second);
  border-radius: 6px;
  border: none;
  color: var(--color-text);
  box-shadow: 0px 0px 10px transparent;
  transition: all 0.3s;
}

.film-week__watch-btn:hover {
  box-shadow: 0px 0px 10px var(--color-primary);
}

.film-week__watch-btn:focus {
  box-shadow: 0px 0px 10px var(--color-primary);
}

.film-week__watch-trailer {
  width: 104px;
  height: 72px;
  background-color: var(--color-second);
  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
  transition: opacity 0.3s;
}

.film-week__watch-trailer:hover {
  opacity: 0.7;
}

.film-week__watch-trailer:focus {
  opacity: 0.7;
}

@media (max-width: 1280px) {
  .film-week__title {
    font-size: 40px;
    margin-right: auto;
  }

  .film-week__tagline {
    order: 1;
    flex-basis: 40%;
    padding-top: 0;
  }
}

@media (max-width: 1000px) {
  .film-week__title {
    font-size: 35px;
  }

  .film-week__watch-trailer {
    order: 1;
  }
}

@media (max-width: 768px) {
  .film-week {
    padding: 30px 0;
    padding-top: 30px;
  }

  .film-week__title {
    font-size: 25px;
  }

  .film-week__title_origin {
    font-size: 20px;
  }

  .film-week__container {
    gap: 15px;
  }

  .film-week__tagline {
    order: 0;
    flex-basis: 100%;
  }
}

@media (max-width: 468px) {
  .film-week__container:after {
    right: 30px;
  }

  .film-week__poster {
    margin-bottom: 0;
  }

  .film-week__title {
    font-size: 24px;
  }

  .film-week__title_origin {
    font-size: 15px;
  }

  .film-week__tagline {
    font-size: 16px;
  }

  .film-week__watch-btn {
    font-size: 16px;
    width: auto;
    flex-basis: 70%;
    height: 50px;
  }

  .film-week__watch-trailer {
    width: 50px;
    height: 50px;
  }
}
